<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @current_user.email %>
</p>

<p>
  <strong>Items:</strong>
  <table>
  <% @cart_items.each do |item| %>
    <tr>
      <td> <%= image_tag item.main_image %> </td>
      <td> $<%= number_with_precision((item.price * (1.00 - (item.discount/100.00))), precision: 2) %> </td>
      <td> <%= link_to 'Remove from cart', "/remove_from_cart/#{item.id}" , method: :delete %></td>
    </tr>
  <%end%>
  </table>
</p>

<p>
  <strong>Subtotal:</strong>
  $<%= number_with_precision(@subtotal, precision: 2) %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', images_path %>
