<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.file_field :main_image%>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label "Price ($)" %>
    <%= form.number_field :price , step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label "Discount (%)" %>
    <%= form.number_field :discount %>%
  </div>

  <div class="field">
    <%= form.label :inventory %>
    <%= form.number_field :inventory %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :private %>
    <%= form.check_box :private %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
