<p id="notice"><%= notice %></p>

<h1>Images</h1>

<%= form_tag images_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag ("Search") %>
<% end %> 


<h2>Public</h2>    

<div class="grid" >
  <% @public_images.each do |image| %>
    <div class="img">
      <div>
        <%= image.description %>
      </div>
      <%= image_tag image.main_image %>
      <div>
        <%= link_to 'Show', image %>
        <%= link_to 'Add to cart', "/add_to_cart/#{image.id}", method: :patch, data: { confirm: "Add #{image.id} to cart?" } %>
        
      </div>
    </div>
  <% end %>
</div>

<h2>Yours</h2>

<div class="grid" >
  <% @user_images.each do |image| %>
    <div class="img">
      <div>
        <%= image.description %>
      </div>
      <div>
        <%= image_tag image.main_image %>
      </div>
      <div>
        <%= link_to 'Show', image %>
        <% if @current_user.id == image.user_id %>
          <%= link_to 'Edit', edit_image_path(image) %>
          <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>
    </div> 
  <% end %>
</div>


<br>
<%= link_to 'My Cart', carts_path %>
<%= link_to 'New Image', new_image_path %>
<% if @images.length > 0 %>
  <%= link_to 'Destroy All', '/destroy_all', method: :delete, data: { confirm: 'Are you sure you want to delete all your images?' } %>
<% end %>
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% end %>