<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_with_precision(@image.price, precision: 2) %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @image.discount %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @image.tags %>
</p>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @image.inventory %>
</p>

<div>
  <%= image_tag @image.main_image %>
</div>

<% if @current_user.id == @image.user_id %>
  <%= link_to 'Edit', edit_image_path(@image) %> |
<% end %>
<%= link_to 'Back', images_path %>
